body        { background-color: rgb(3, 3, 24);
    color:white;

}


@media only screen and (min-width:100px) {.head       { text-align: center;
background-color: rgb(20, 25, 68);
position: fixed;
width:100%;
z-index: 2;
top:-1px;
left:-5px;
height:130px;

}
}



#img-btc        { height: 60px;
    
    margin-top:10px;
  
  }

#caption    {
                    
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#price      {
                position: absolute;
                top:20px;
                left: 10px;
                font-size: 20pt;
                width: 40%;
                height: auto;
}   

@media only screen and (min-width:100px) { #section    {
                position: absolute;
                top:25%;
                left: 80px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
}

#input      {
                background-color: transparent;
                height: 40px;
                width: 300px;
                border: 3px solid rgb(20, 25, 68);
                border-radius: 10px;
                color: white;
}

#select     {
                background-color: transparent;
                border: none;
                color: white;
}

option      {
                color:black;
}

#button     { background-color: transparent;
    height: 40px;
    width: 300px;
    border: 3px solid rgb(20, 25, 68);
    border-radius: 20px;
    color: white;


}

#button:hover     { background-color: rgb(27, 27, 233);
    height: 40px;
    width: 300px;
    border: 1px solid rgb(20, 25, 68);
    border-radius: 20px;
    color: white;


}


#button:active     { background-color: rgb(27, 27, 233);
    height: 40px;
    width: 300px;
    border: 1px solid rgb(20, 25, 68);
    border-radius: 20px;
    color: white;


}

#wal-add    {
                font-size: 10px;
                border-radius: 5px;
                background-color: transparent;
                border:;
                width: 100px;
                height: 20px;
                color: blue;
                margin-left: 13px;
                cursor: pointer;
}

#wal-add:active        {
                color:blueviolet;
                text-decoration: underline;
                
}

#icons      {
                margin-left: 15%;
}

#icons:hover      {
    margin-left: 15%;
    color:black;
}


#icons2      {
    position: absolute;
                right:1px;
}


#icons2:hover      {
    margin-left: 43%;
    color:yellow;
}



#icons3      {
    margin-left: 71%;
}


#icons3:hover     {
    margin-left: 71%;
    color: red;
}

#demo   {
            background-color:;
            color:white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           
            font-size: 20px;
            

}
