body        { background-color: rgb(3, 3, 24);
    color:white;

}


@media only screen and (min-width:100px) {.head       { text-align: center;
    background-color: rgb(20, 25, 68);
    position: fixed;
    width:100%;
    padding: 5px;
    z-index: 2;
    top:-1px;
    left:-5px;
    height:130px;
}
    
    }
    
    
    
    #img-btc        { height: 60px;
        
        margin-top:10px;
      
      }
    
    #caption    {
                        
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    #price      {
                        position: absolute;
                        top:20px;
                        left: 10px;
                        font-size: 20pt;
                        width: 40%;
                        height: auto;
    } 
    
    #btns{
                display: flex;
                justify-content: space-around;
                cursor: pointer;
                background-color: rgb(11, 11, 90);
                padding: 20px;
                position: relative;
               
                top:-23px;
                margin-left: -7px;
                margin-right: -7px;
    }

    #ToBank{

        border-bottom: 2px solid blue;
       
    }
    #P2P{

       
    }
                                

    @media only screen and (min-width:100px) { #section    {
           
          
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    }

    @media only screen and (min-width:100px) {#section2    {
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
    }
#demo       {
                    font-size: 12px;
                    color: blue;
                    cursor: pointer;


}

#demo:active       {
                    font-size: 12px;
                    color: rgb(65, 65, 119);
                    text-decoration: underline;
                    cursor: pointer;
                    

}


#input      {
                background-color: transparent;
                height: 40px;
                width: 95%;
                border: 3px solid rgb(20, 25, 68);
                border-radius: 10px;
                color: white;
}

#PayBtn{

            display: flex;
            justify-content: center;
}

#button     { background-color: transparent;
    height: 40px;
    width: 50%;
    border: 3px solid rgb(20, 25, 68);
    border-radius: 20px;
    color: white;


}

#button:hover     { background-color: rgb(27, 27, 233);
   
    border: 1px solid rgb(20, 25, 68);
    border-radius: 20px;
    color: white;


}



#select     {
    background-color: transparent;
    border: none;
    color: white;
}

option      {
    color:black;
}


#wal-add:active        {
                color:blueviolet;
                text-decoration: underline;
}


